.search {
  padding: 3rem;
  text-align: center;
}

.search__heading {
  margin-bottom: 3rem;
  color: darkblue;
}

.search__input {
  padding: 0.5rem;
  font-size: 1.25rem;
}

.search__list {
  list-style: none;
  padding-left: 0;
  font-size: 1.25rem;
}